@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Light theme */
  --background: oklch(100% 0 0); /* #ffffff */
  --foreground: oklch(0% 0 0); /* #000000 */
  --card: oklch(3.9% 0 0); /* #0a0a0a */
  --card-foreground: oklch(100% 0 0); /* #ffffff */
  --popover: oklch(3.9% 0 0); /* #0a0a0a */
  --popover-foreground: oklch(100% 0 0); /* #ffffff */
  --primary: oklch(50.4% 0.117 147.2); /* #008528 */
  --primary-foreground: oklch(100% 0 0); /* #ffffff */
  --secondary: oklch(10.2% 0 0); /* #1a1a1a */
  --secondary-foreground: oklch(100% 0 0); /* #ffffff */
  --muted: oklch(10.2% 0 0); /* #1a1a1a */
  --muted-foreground: oklch(64.3% 0 0); /* #a3a3a3 */
  --accent: oklch(50.4% 0.117 147.2); /* #008528 */
  --accent-foreground: oklch(100% 0 0); /* #ffffff */
  --destructive: oklch(48.2% 0.134 27.5); /* #d4183d */
  --destructive-foreground: oklch(100% 0 0); /* #ffffff */
  --border: oklch(10.2% 0 0); /* #1a1a1a */
  --input: oklch(10.2% 0 0); /* #1a1a1a */
  --input-background: oklch(3.9% 0 0); /* #0a0a0a */
  --switch-background: oklch(10.2% 0 0); /* #1a1a1a */
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(50.4% 0.117 147.2); /* #008528 */
  --chart-1: oklch(50.4% 0.117 147.2); /* #008528 */
  --chart-2: oklch(59.3% 0.135 147.2); /* #00a532 */
  --chart-3: oklch(68.6% 0.154 147.2); /* #00c63c */
  --chart-4: oklch(74.5% 0.147 151.3); /* #33d165 */
  --chart-5: oklch(80.6% 0.139 153.6); /* #66dc88 */
  --radius: 0.5rem;
  --sidebar: oklch(3.9% 0 0); /* #0a0a0a */
  --sidebar-foreground: oklch(100% 0 0); /* #ffffff */
  --sidebar-primary: oklch(50.4% 0.117 147.2); /* #008528 */
  --sidebar-primary-foreground: oklch(100% 0 0); /* #ffffff */
  --sidebar-accent: oklch(10.2% 0 0); /* #1a1a1a */
  --sidebar-accent-foreground: oklch(100% 0 0); /* #ffffff */
  --sidebar-border: oklch(10.2% 0 0); /* #1a1a1a */
  --sidebar-ring: oklch(50.4% 0.117 147.2); /* #008528 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: oklch(0% 0 0); /* #000000 */
  --foreground: oklch(100% 0 0); /* #ffffff */
  --card: oklch(3.9% 0 0); /* #0a0a0a */
  --card-foreground: oklch(100% 0 0); /* #ffffff */
  --popover: oklch(3.9% 0 0); /* #0a0a0a */
  --popover-foreground: oklch(100% 0 0); /* #ffffff */
  --primary: oklch(50.4% 0.117 147.2); /* #008528 */
  --primary-foreground: oklch(100% 0 0); /* #ffffff */
  --secondary: oklch(10.2% 0 0); /* #1a1a1a */
  --secondary-foreground: oklch(100% 0 0); /* #ffffff */
  --muted: oklch(10.2% 0 0); /* #1a1a1a */
  --muted-foreground: oklch(64.3% 0 0); /* #a3a3a3 */
  --accent: oklch(50.4% 0.117 147.2); /* #008528 */
  --accent-foreground: oklch(100% 0 0); /* #ffffff */
  --destructive: oklch(48.2% 0.134 27.5); /* #d4183d */
  --border: oklch(10.2% 0 0); /* #1a1a1a */
  --input: oklch(10.2% 0 0); /* #1a1a1a */
  --ring: oklch(50.4% 0.117 147.2); /* #008528 */
  --chart-1: oklch(50.4% 0.117 147.2); /* #008528 */
  --chart-2: oklch(59.3% 0.135 147.2); /* #00a532 */
  --chart-3: oklch(68.6% 0.154 147.2); /* #00c63c */
  --chart-4: oklch(74.5% 0.147 151.3); /* #33d165 */
  --chart-5: oklch(80.6% 0.139 153.6); /* #66dc88 */
  --sidebar: oklch(3.9% 0 0); /* #0a0a0a */
  --sidebar-foreground: oklch(100% 0 0); /* #ffffff */
  --sidebar-primary: oklch(50.4% 0.117 147.2); /* #008528 */
  --sidebar-primary-foreground: oklch(100% 0 0); /* #ffffff */
  --sidebar-accent: oklch(10.2% 0 0); /* #1a1a1a */
  --sidebar-accent-foreground: oklch(100% 0 0); /* #ffffff */
  --sidebar-border: oklch(10.2% 0 0); /* #1a1a1a */
  --sidebar-ring: oklch(50.4% 0.117 147.2); /* #008528 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-white;
  }

  /**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
  @layer base {
    :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
      h1 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
      }

      h2 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
      }

      h3 {
        font-size: var(--text-lg);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
      }

      h4 {
        font-size: var(--text-base);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
      }

      p {
        font-size: var(--text-base);
        font-weight: var(--font-weight-normal);
        line-height: 1.5;
      }

      label {
        font-size: var(--text-base);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
      }

      button {
        font-size: var(--text-base);
        font-weight: var(--font-weight-medium);
        line-height: 1.5;
      }

      input {
        font-size: var(--text-base);
        font-weight: var(--font-weight-normal);
        line-height: 1.5;
      }
    }
  }

  html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
  }

  @keyframes glow {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  .glow-green {
    box-shadow: 0 0 20px rgba(0, 133, 40, 0.5);
  }

  .animate-glow {
    animation: glow 2s ease-in-out infinite;
  }

  .signal-line {
    --rotation: 90deg;
    @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
    background-color: hsla(0, 0%, 100%, 0.1);
    background-image: linear-gradient(
      var(--rotation),
      rgba(255, 255, 255, 0) 50%,
      #008529 50%,
      rgba(255, 255, 255, 0) 70%
    );
    background-size: 400% 400%;
  }
  @media (max-width: 767px) {
    .signal-line {
      --rotation: 0deg;
    }
  }
  @layer utilities {
    .nav-hover-btn {
      @apply relative cursor-pointer text-sm uppercase after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-[#008529] after:transition-transform after:duration-300 hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white;
    }
  }

  /* Width and color for the scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  /* Track styles */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  /* Handle styles */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: background-color 0.2s ease;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Handle when active/being dragged */
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Firefox scrollbar styles */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

  /* Hide scrollbar when not scrolling but keep functionality */
  ::-webkit-scrollbar {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /* Show scrollbar on hover */
  :hover::-webkit-scrollbar {
    opacity: 1;
  }

  /* For dark mode */
  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: rgba(255, 255, 255, 0.4);
    }

    * {
      scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    }
  }
}
